<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurante</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">

</head>
<body>
    <a href="#explore-section" class="skip-link">Skip to content</a>

    <nav>
        <h1 class="nav-brand">Restaurante</h1>
        <button id="hamburger" aria-label="Open Hamburger menu">
            <svg class="icon-menu" id="icon-menu" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
            </svg>
            <svg class="icon-close" id="icon-close" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
        </button>

        <div class="nav-list" id="drawer">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="#">Favorite</a>
            <a class="nav-link" href="https://github.com/gerrygeop" target="_blank">About</a>
        </div>
    </nav>

    <main id="content">
        <div class="hero">
            <div class="hero-image"></div>
            <div class="hero-text">
                <h1 tabindex="0">Explore Restaurant</h1>
                <p tabindex="0">Get a restaurant recommendation near your location</p>
            </div>
        </div>

        <article class="explore" id="explore-section">
            <h2 tabindex="0">Explore Restaurant</h2>
        </article>
    </main>

    <footer>
        <p tabindex="0">Copyright &copy; 2021 - Restaurante Apps</p>
    </footer>

</body>
</html>
