<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant apps for your best experience">
    <link rel="shortcut icon" href="favicon.png">

    <title>Restaurante</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">

</head>
<body>
    <a href="#mainContent" class="skip-link">Skip to content</a>

    <nav>
        <h1 class="nav-brand">Restaurante</h1>
        <button class="hamburger" id="hamburgerButton" aria-label="Open Hamburger menu">
            <img src="./icons/icon_menu.svg" class="svg icon-menu" id="iconMenu" alt="Hamburger">
            <img src="./icons/icon_close.svg" class="svg icon-close" id="iconClose" alt="Close">
        </button>

        <div class="nav-list" id="navigationDrawer">
            <a class="nav-item" href="#/home">Home</a>
            <a class="nav-item" href="#/favorite">Favorite</a>
            <a class="nav-item" href="https://github.com/gerrygeop" target="_blank" rel="noreferrer noopener">About</a>
        </div>
    </nav>

    <main id="mainContent"></main>

    <footer>
        <p tabindex="0">Copyright &copy; 2021 - Restaurante Apps</p>
    </footer>

</body>
</html>
