:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --yellow-50: #fffbeb;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;

  --red-500: #ef4444;
  --red-600: #dc2626;

  --font-primary: "Poppins", sans-serif;
  --font-second: "Lora", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  display: grid;
  font-size: 14px;
  background-color: var(--gray-100);
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--font-second);
}

a {
  text-decoration: none;
}

svg {
  width: 18px;
  height: 18px;
}

/*
 * Loading
 */
.loading {
  width: 100%;
  text-align: center;
}

.spinner {
  width: 54px;
  height: 54px;
}

/* 
 * Skip Konten
 */
.skip-link {
  position: absolute;
  top: -50px;
  left: 0;

  display: grid;
  place-items: center;

  background-color: var(--yellow-500);
  color: var(--gray-50);
  padding: 8px;
  min-height: 44px;

  z-index: 10;
}

.skip-link:focus {
  top: 8px;
  left: 8px;
}

/* 
 * Navigation
 */
nav {
  background-color: var(--gray-900);
  color: var(--gray-50);

  display: flex;
  flex-direction: column;

  min-width: 100%;
  padding: 10px 0;
  text-align: center;
}

.nav-brand {
  margin: 10px 0;
  letter-spacing: 2px;
  font-family: var(--font-second);
}

.nav-list {
  width: 100%;
  display: grid;

  position: absolute;
  transform: translateY(-175px);

  background-color: var(--gray-900);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.nav-item {
  padding: 15px 5px;
  min-height: 44px;
  color: var(--gray-50);
  text-decoration: none;

  display: grid;
  place-items: center;
  border-bottom: 2px solid var(--gray-900);
  transition: all 0.2s;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--yellow-500);
}

.hamburger {
  color: var(--gray-50);
  background: none;
  min-height: 44px;

  display: grid;
  place-items: center;
  border: 1px solid var(--gray-900);
  border-radius: 4px;
}

.hamburger svg {
  width: 24px;
  height: 24px;
}

.hamburger:focus {
  border: 1px solid var(--yellow-500);
}

.icon-close {
  display: none;
}

.nav-list.open {
  transform: translateY(95px);
}

/* 
 * Hero
 */
.hero {
  height: 80vh;
}

.hero-image {
  background-color: var(--gray-300);
  background-image: url("../public/images/hero-image_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
}

.hero .hero-text {
  color: var(--gray-100);
  text-align: center;

  padding: 20px;
  width: 80%;

  position: absolute;
  top: 45%;
  left: 50%;

  z-index: 1;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 4px 8px rgba(41, 18, 18, 0.8));
}

.hero .hero-text h1 {
  font-size: 3em;
  letter-spacing: 1px;
}
.hero .hero-text p {
  font-size: 1em;
  letter-spacing: 0.8px;
}

/* 
 * Explore Menu
 */
section {
  padding: 50px 20px;
  display: grid;
  gap: 30px;
}

section h2 {
  grid-column: 1 / -1;
  text-align: center;
  color: var(--gray-900);
}

/* 
 * Card
 */
.card {
  background-color: var(--gray-50);
  color: var(--gray-900);
  text-align: left;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-location {
  background-color: var(--yellow-600);
  color: var(--gray-50);
  padding: 10px 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;

  position: absolute;
  top: 0;
  left: 0;

  border-bottom-right-radius: 10px;
}

.card .card-image {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px 15px;
}

.card-title {
  padding: 5px 0;
}

.card-title a {
  color: var(--gray-900);
  font-family: var(--font-second);
}

.card-desc p {
  color: var(--gray-600);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*
 * Restaurant Detail
 */
.restaurant {
  display: grid;
  padding: 16px;
}

.restaurant img {
  max-height: 450px;
  object-fit: cover;
}

.restaurant__detail {
  padding: 20px 0;
}

.restaurant__detail h2 {
  margin-bottom: 10px;
  color: var(--gray-900);
}

.restaurant__address {
  display: flex;
  align-items: center;
}

/* restaurant category */
.restaurant__category {
  margin: 10px 0;
}

.restaurant__list__category {
  display: flex;
  align-items: center;
  gap: 5px;
}

.restaurant__list__category span {
  background-color: var(--yellow-200);
  color: var(--yellow-600);

  font-size: 10.5px;
  font-family: var(--poppins);
  letter-spacing: 0.5px;

  margin: 5px 0;
  padding: 2px 8px;
  border-radius: 99px;
}

/* restaurant menu */
.restaurant__menu {
  padding: 8px 0;
  margin: 20px 0;
  background-color: var(--gray-50);
  /* border: 2px dashed var(--yellow-100); */
}

.restaurant__menu h3 {
  color: var(--gray-800);
  text-align: center;
  margin-bottom: 10px;
}

.restaurant__menu__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
}

.restaurant__menu__card {
  min-width: 200px;
}

.restaurant__menu__card h4 {
  background-color: var(--yellow-100);
  color: var(--yellow-500);
  letter-spacing: 0.5px;
  padding: 2px 8px;
  /* border-radius: 4px; */
}

.restaurant__menu__card ul {
  padding-left: 8px;
}

.restaurant__menu__card ul li {
  list-style: circle inside;
  color: var(--gray-700);
  font-family: var(--poppins);
}

/* restaurant description */
.restaurant__description {
  margin: 20px 0;
}

.restaurant__description h3 {
  color: var(--gray-800);
}

.restaurant__description p {
  color: var(--gray-700);
}

/* restaurant review */
.restaurant__customer__review h3 {
  color: var(--gray-800);
  /* margin-bottom: 14px; */
  padding-bottom: 5px;
  border-bottom: 1px solid var(--gray-300);
}

.restaurant__customer__review form {
  display: grid;
  gap: 10px;

  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--gray-300);
}

.restaurant__customer__review input,
.restaurant__customer__review textarea {
  padding: 5px 8px;
  border: 1px solid var(--gray-300);
}

.restaurant__customer__review button {
  border: none;
  padding: 5px 8px;
  color: var(--gray-50);
  background-color: var(--yellow-500);
}

.restaurant__customer__review button:hover {
  background-color: var(--yellow-300);
}

.restaurant__review__box {
  max-width: 100%;
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.restaurant__review__box h4 {
  color: var(--gray-800);
  font-family: var(--poppins);
}

.restaurant__review__box p {
  color: var(--gray-700);
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.restaurant__review__box i {
  color: var(--gray-500);
  font-size: 12px;
  font-family: var(--poppins);
}

/*
 * Rating
 */
.rating {
  display: flex;
  align-items: center;
}

/* 
 * Like
 */
.like {
  width: 55px;
  height: 55px;
  cursor: pointer;

  border: 0;
  border-radius: 50%;
  background-color: var(--red-500);

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  right: 16px;
  bottom: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.like svg {
  width: 24px;
  height: 24px;
}

/* 
 * Footer
 */
footer {
  background-color: var(--gray-900);
  color: var(--gray-50);
  text-align: center;
  min-width: 100%;
  padding: 20px;
}

/* 
 * Medium Screen
 */
@media screen and (min-width: 510px) {
  .hero .hero-text h1 {
    font-size: 4em;
  }
  .hero .hero-text p {
    font-size: 1.5em;
  }

  .explore {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .restaurant__customer__review form button {
    max-width: 200px;
  }
}

/* 
 * Large Screen
 */
@media screen and (min-width: 768px) {
  nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    padding: 16px 32px;
  }

  .nav-brand {
    margin: 0;
    text-align: left;
    font-size: 2em;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;

    position: static;
    transform: translateY(0);
  }

  .nav-item {
    padding: 0 4px;
    margin: 0 15px;
    font-size: 16px;
  }

  .hamburger {
    display: none;
  }

  /* Hero */
  .hero .hero-text h1 {
    font-size: 5em;
  }
  .hero .hero-text p {
    font-size: 1.5em;
  }

  /* List Restaurant */
  section {
    padding: 50px 30px;
    gap: 30px;
  }
}

/* 
 * X-Large Screen
 */
@media screen and (min-width: 1000px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 
 * XX-Large Screen
 */
@media screen and (min-width: 1500px) {
  body {
    max-width: 1500px;
    margin: 0 auto;
  }

  section {
    grid-template-columns: repeat(4, 1fr);
  }
}
